/*QWidget{
    background-color:#ffffd2;
}

QWebEngineView{
    width:50%
}

QLabel#welcomeLabel{
    color:#222831;
}

QPushButton{
    background-color:#aa96da;
}

QPlainTextEdit#notesPlainTextEdit{
    background-color:#323230302f2f;
    color:#f2f2e5e5bcbc;
}

QStatusBar{
    background-color:#ffeecf;
}

QToolBar{
    background-color:#843b62;
}

QMenuBar{
    background-color:#669999;
}*/
